ion-content {
    --ion-background-color: var(--ion-color-dark);
}

.padding {
    padding: 2%!important;
}

.logo img {
    font-size: 2em;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    top: 20%;
    height: 120px;
    left: 20%;
    transform: translate(-50%, -50%);
}

.name p {
    color: white;
    margin-top: 100px;
    margin-left: 145px;
}

#container {
    margin-top: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

.button {
    color: white;
    margin-top: 10px;
    margin-left: 105px;
}

.Button {
    padding: 0;
    font-size: 10px;
}

ion-item {
    border-radius: 10px;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-style: solid;
    background-color: white;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
    ion-input {
        font-size: 15px;
        padding-top: 10px;
    }
}

ion-button {
    text-transform: initial;
}

ion-row.validate {
    padding-left: 120px;
    .Cancel {
        margin-left: 1px;
    }
}

.privacy {
    text-decoration: none;
    font-size: 10px;
    color: blue;
    text-align: center;
    padding-top: 12px;
    margin-left: 35px;
}


/*  ****************  traitement pour l'affichage des informations sur le RGPD ************************ */

ion-title,
ion-buttom {
    font-weight: bold;
}

.RDPG {
    text-align: center;
    color: blue;
    font-size: large;
    font-weight: bold;
}

// Bottom Sheet
.bottomSheet {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    border-radius: 15px 15px 0 0;
    z-index: 20;
    background-color: var(--ion-color-primary-contrast);
    transition: 0.3s;
    transform: translate3d(0, 0, 0);
    // Bottom Sheet Content
    .content {
        padding: 10px;
        h5 {
            color: green;
            text-align: center;
        }
        p {
            color: black;
            font-size: 15px;
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
    // Short Line at top of the Bottom Sheet
    .swipe-handler::after {
        content: '';
        width: 36px;
        height: 6px;
        position: absolute;
        left: 50%;
        top: 5%;
        margin-left: -18px;
        margin-top: -3px;
        border-radius: 3px;
        background: lightgray;
    }
}

// Background Overlay
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 10;
    transition: 0.3s;
}