<ion-content>
    <div class="img_box">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas minus vel iste optio. Commodi ex ab placeat dicta a totam, aliquid modi nisi numquam fugiat veniam, nam in non alias. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Cumque numquam, praesentium minima impedit dolorem in assumenda, placeat voluptates voluptatem obcaecati illum qui earum pariatur maxime itaque animi expedita asperiores </p>
    </div>
    <div id="padding">
        <div id="container">
            <h2>Sia - Never give up </h2>
        </div>
        <ion-button mode="md" fill="clear">
            <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <div class="flex_box">
            <!-- Play Button -->
            <ion-button mode="md" fill="clear" *ngIf="!isPlaying" (click)="play()">
                <ion-icon slot="icon-only" name="play" style="font-size: 40px;"></ion-icon>
            </ion-button>
            <!-- Pause Button -->
            <ion-button mode="md" fill="clear" *ngIf="isPlaying" (click)="pause()">
                <ion-icon slot="icon-only" name="pause" style="font-size: 40px;   color: whitesmoke;"></ion-icon>
            </ion-button>
        </div>
    </div>
</ion-content>


<!-- 
        <p>page d'inscription
        <ion-button href="/login">Login</ion-button>
    </p>
-->