<ion-content>
    <ion-button class="backbutton" fill="clear" color="primary" routerLink="/login">
        <ion-icon slot="icon-only" style="font-size: 80px;" name="arrow-back"></ion-icon>
    </ion-button>
    <div class="ion-text-center">
        <h3>Forgot your password?</h3>
        <p>Enter the user's email address at registration and we will send you the instructions.</p>
        <form id="container">
            <ion-item lines="none">
                <ion-input color="light" type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-button color="light" expand="block" shape="round" style="font-size: 20px;" fill="outline">Send me instructions</ion-button>
        </form>
    </div>
</ion-content>