ion-content {
    --ion-background-color: var(--ion-color-dark);
}

h3 {
    text-align: center;
    color: white;
    margin-top: 150px;
}

p {
    color: white;
    font-size: 15px;
    margin-top: 50px;
}

ion-item {
    border-radius: 10px;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-style: solid;
}