<ion-content class="ion-text-center">
    <div>
        <h3>Forgot your password?</h3>
        <p>Enter the user's email address at registration and we will send you the instructions.</p>
        <form id="container">
            <ion-item>
                <ion-input color="light" type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-button color="light" expand="block" shape="round" fill="outline">Send me instructions</ion-button>
        </form>
    </div>
</ion-content>