<ion-content>
    <form>
        <ion-item>
            <ion-input color="light" type="text" placeholder="First name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input color="light" type="text" placeholder="Last name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input color="light" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input color="light" type="email" placeholder="Date of birth"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input color="light" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input color="light" type="password" placeholder=" Confirm Password"></ion-input>
        </ion-item>
        <ion-button class="center">Sign up</ion-button>
    </form>
    <ion-item lines="full">
        <ion-button color="light" fill="clear">Terms of Service and Privacy Policy</ion-button>
    </ion-item>
    <p color="light">You have an account? </p>
    <ion-button class="center" href="/login">Sign in </ion-button>
</ion-content>