<ion-content fullscreen="true">
    <h3>Login</h3>
    <form id="container">
        <ion-list>
            <ion-item lines="none" class="ion-item">
                <ion-input color="light" type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-item">
                <ion-input color="light" type="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-button fill="clear" color="light" slot="end" style="font-size: 15px;" routerLink="/forgot-password">Forgot Password?</ion-button>
            </ion-item>
        </ion-list>
        <ion-button color="light" expand="block" shape="round" style="font-size: 20px;" fill="outline">Sign in</ion-button>
    </form>
    <ion-row>
        <ion-col class="line" size="4">
        </ion-col>
        <ion-col size="4" class="ion-text-center">
            <ion-button shape="round" size="small">OR</ion-button>
        </ion-col>
        <ion-col class="line" size="4">
        </ion-col>
    </ion-row>

    <div class="flex">
        <ion-button color="facebook" size="small" shape="round" routerLink="/registration">
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            Facebook
        </ion-button>
        <ion-button color="google" size="small" shape="round" routerLink="/subscribe">
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Google
        </ion-button>
    </div>
    <ion-item lines="none" class="ion-text-center privacy" size="small">
        <ion-button fill="clear" style="color: red" (click)="open()">Terms of Service and Privacy Policy</ion-button>
    </ion-item>
    <ion-footer class="ion-no-border">
        <ion-toolbar>
            <p>New here? <span routerLink="/registration"> Sign up</span></p>
        </ion-toolbar>
    </ion-footer>


    <!-- afficher ou masquer le RGPD-->
    <!--Background overlay-->
    <div class="bg" (click)="close()"></div>

    <!--Bottom Sheet-->
    <div class="bottomSheet" (touchmove)="touchMove($event)" (touchend)="touchEnd()">

        <!--Short Line at tp of the Bottom Sheet-->
        <div class="swipe-handler"></div>

        <!-- Bottom Sheet Content-->
        <div class="content">
            <h5>Terms of Service and Privacy Policy</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quos aspernatur molestiae deleniti facilis eum repellat similique, perferendis minus? Ea provident impedit facere earum exercitationem totam repellat. Quo,
                <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsam obcaecati, distinctio eaque iste.
            </p>
            <p class="RDPG">RGPD</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsam obcaecati, distinctio eaque iste consectetur ratione dolor unde optio consequatur eum veniam natus itaque molestiae quam. Quasi aperiam
                <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsam obcaecati, distinctio eaque iste consectetur ratione dolor unde optio consequatur eum veniam natus itaque molestiae quam. Quasi aperiam vel unde.
            </p>
        </div>
    </div>

</ion-content>