// ion-content {
//     --ion-background-color: var(--ion-color-darck);
// }
* {
    font-weight: bold;
}

ion-item {
    ion-thumbnail {
        img {
            border-radius: 10px;
        }
    }
    ion-label {
        h2,
        p {
            font-weight: bold;
        }
    }
}

#miniPlayer {
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
    //hide by default by setting bottom value in negative
    bottom: -100px;
    ion-progress-bar {
        z-index: 10;
    }
}

#fullPlayer {
    transition: 0.5s;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background: #fff;
    z-index: 20;
    //Hide by default by setting bottom value in negative
    bottom: -1000px;
    //Current Song Image 
    #currImg {
        margin-top: 10px;
        width: 250px;
        height: 200px;
        border-radius: 10px;
    }
    p {
        color: #8c8c8c;
        margin: 0;
    }
    ion-text {
        font-size: 12px;
    }
}

// #padding {
//     padding-bottom: 20px;
// }
// #container {
//     text-align: center;
//     padding: 20px;
// }
// h2 {
//     color: white;
//     font-size: 16px;
//     margin: 2px 0px;
// }
// ion-range {
//     padding: 0px 10px;
//     --bar-height: 3px;
// }
// p {
//     color: #b7b6b6;
//     font-size: 13px;
//     margin: 0px;
//     font-weight: 500;
// }
// .flex_box {
//     // height: 200px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 15px;
// }
// ion-button {
//     height: 80px;
//     min-height: max-content;
//     margin: 0px 7px;
//     font-size: 21px;
// }