ion-content {
    --ion-background-color: var(--ion-color-dark);
}

#container {
    margin-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 30px;
}

// titre de la page
h3 {
    text-align: center;
    color: white;
    margin-top: 60px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 30px;
}

ion-item {
    border-radius: 10px;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-style: solid;
    background-color: white;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
    ion-input {
        font-size: 15px;
        padding-top: 10px;
    }
}

ion-button {
    text-transform: initial;
}

.privacy {
    margin-left: 80px;
}

//Mise en forme du footer de la page
ion-footer {
    padding-top: 10px;
    ion-toolbar {
        p {
            text-align: center;
            padding-bottom: 20px;
            padding-left: 60px;
            color: white;
            font-size: 20px;
            span {
                color: blue;
                font-size: 25px;
            }
        }
    }
}


/*  ****************  traitement pour l'affichage des informations sur le RGPD ************************ */

ion-title,
ion-buttom {
    font-weight: bold;
}

.RDPG {
    text-align: center;
    color: blue;
    font-size: large;
    font-weight: bold;
}

// Bottom Sheet
.bottomSheet {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    border-radius: 15px 15px 0 0;
    z-index: 20;
    background-color: var(--ion-color-primary-contrast);
    transition: 0.3s;
    transform: translate3d(0, 0, 0);
    // Bottom Sheet Content
    .content {
        padding: 10px;
        h5 {
            color: green;
            text-align: center;
        }
        p {
            color: black;
            font-size: 15px;
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
    // Short Line at top of the Bottom Sheet
    .swipe-handler::after {
        content: '';
        width: 36px;
        height: 6px;
        position: absolute;
        left: 50%;
        top: 5%;
        margin-left: -18px;
        margin-top: -3px;
        border-radius: 3px;
        background: lightgray;
    }
}

// Background Overlay
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 10;
    transition: 0.3s;
}