<ion-content>
    <div class="padding">
        <div class="logo">
            <img src="/assets/icon/profil.jpg">
        </div>
        <div class="name">
            <p>MELINA THOSE</p>
        </div>
        <div class="button">
            <ion-row>
                <ion-col size="2">
                    <ion-button class="Button" shape="round" size="small" routerLink="/tabs/favorites">
                        Buills
                    </ion-button>
                </ion-col>
                <ion-col size="2">
                </ion-col>
                <ion-col size="2">
                    <ion-button class="Button" shape="round" color="danger" size="small" routerLink="/tabs/favorites">
                        Logout
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
        <form id="container">
            <ion-list>
                <ion-item lines="none">
                    <ion-input color="light" type="text" placeholder="Melina.|"></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-input color="light" type="text" placeholder="THOSE"></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-input color="light" type="email" placeholder="melinathose@yahoo.com"></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-input color="light" type="email" placeholder="18-10-1993"></ion-input>
                </ion-item>
            </ion-list>
            <ion-row class="validate">
                <ion-col size="2">
                    <ion-button size="small" color="light" routerLink="/tabs/favorites">
                        Cancel
                    </ion-button>
                </ion-col>
                <ion-col size="2">
                </ion-col>
                <ion-col size="2">
                    <ion-button size="small" color="success" routerLink="/tabs/favorites">
                        validate
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
        <ion-button fill="clear" size="small" class="privacy" routerLink="/login">Terms of Service and Privacy Policy</ion-button>
    </div>
</ion-content>